/* Mes helpers personnels (similaire à Bulma) */
.is-text-primary {
  color: var(--color-text-primary) !important;
}
.is-text-regular {
  color: var(--color-text-regular) !important;
}
.is-text-secondary {
  color: var(--color-text-secondary) !important;
}
.is-text-placeholder {
  color: var(--color-text-placeholder) !important;
}

.is-flex {
  display: flex;
}

.is-full {
  width: 100%;
}

.is-cursor-pointer {
  cursor: pointer;
}

.is-unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

// .is-shadow {
//   box-shadow: 0 0 0.5rem 0 rgba(127 124 137 / 50%);
// }

.columns {
  display: flex;
}

.column {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.is-justify-content-space-between {
  justify-content: space-between;
}

.is-justify-content-space-around {
  justify-content: space-around;
}

.is-justify-content-space-evenly {
  justify-content: space-evenly;
}

.is-justify-content-flex-end {
  justify-content: flex-end;
}

.is-justify-content-flex-start {
  justify-content: flex-start;
}

.is-justify-content-center {
  justify-content: center;
}

.is-align-items-center {
  align-items: center;
}

.is-flex-grow-1 {
  flex-grow: 1;
}

.is-flex-direction-column {
  flex-direction: column;
}

.is-flex-direction-row {
  flex-direction: row;
}
